# Flutter
flutter/*
flutter_tools/*

# Environment
.venv
.vscode
.env
*.env
*.db
uploads/
__pycache__/
*.pyc
*.log
*.lock

# Backend
backend_server/*
backend_server/venv/*
backend_server/*.log
backend_server/*.lock

# Transcripts
transcripts/*
transcripts/mini_lectures/*
transcripts/mini_lectures/mini_lectures.db
